html {
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover; 
}

.title {
    color: rgba(0,0,0, 1);
    font-family: 'Advent Pro', 'sans-serif';
    line-height: 46px;
    font-size: 58px;
    margin: 0 0 23px 0;
}
small {
    background:rgba(240,230,140,0.8);
    border-radius: 3px;
    color:#000;
    font-family: 'Oxygen', 'sans-serif';
    font-size: 14px;
    padding:3px 9px;
}

.search {
    background-color: rgba(240,230,140,0.3); // I don't know the .well color, so I used white as example
}

.form-inline .form-control { width:250px; }