html {
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover; 
}

.title {
    color: rgba(0,0,0, 1);
    font-family: 'Advent Pro', 'sans-serif';
    line-height: 46px;
    font-size: 58px;
    margin: 0 0 23px 0;
}
small {
    background:rgba(240,230,140,0.8);
    border-radius: 3px;
    color:#000;
    font-family: 'Oxygen', 'sans-serif';
    font-size: 14px;
    padding:3px 9px;
}

.search {
    background-color: rgba(240,230,140,0.3); // I don't know the .well color, so I used white as example
}

.form-inline .form-control { width:250px; }

#appendedContainer {
    clear:both;
}
.appended {
    float:left;
    margin:10px;
    padding:20px;
}
.appended.me {
    background:rgba(255,0,0,0.6);
    float:left;
    margin:10px;
    padding:20px;
}
.appended.other {
    background:rgba(0,255,0,0.6);
    float:left;
    margin:10px;
    padding:20px;
}

#currentImgDescription {
    background:rgba(220,220,220,0.4);
    border-radius: 5px 0 0 0;
    color:#333;
    font-size:10px;
    padding:4px 10px;
    position: fixed;
    bottom: 0;
    right:0;
}